@*
  
*@
@{
}
@model List<LibraryManagementWebApp.Models.Entities.Admin>
<h1>Admins</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Admin Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in Model)
        {
            <tr>
                <td>@admin.UserId</td>
                <td>@admin.AdminId</td>
                <td>@admin.AdminName</td>
                <td>@admin.AdminEmail</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserAdmin" asp-action="EditAdmins" asp-route-id="@admin.AdminId">Edit</a>
                </td>


            </tr>
        }
    </tbody>
</table>
