@*
   
*@
@{
}
@model List<LibraryManagementWebApp.Models.Entities.Student>

<h1>Students</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div class="row mb-3">
    <div class="col">
        <form  asp-action="ListStudent" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by Student Name" name="searchTerm">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Student Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.UserId</td>
                <td>@student.StudentId</td>
                <td>@student.StudentName</td>
                <td>@student.StudentEmail</td>
                <td>
                    <a class="btn btn-primary" asp-controller="UserAdmin" asp-action="EditStudents" asp-route-id="@student.StudentId">Edit</a>
                </td>


            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary ms-2" asp-action="AdminHomePage" asp-controller="AdminHomePage">DashBoard</a>